@model ZCJ.Model.ColumnNavigation
@{
    ViewBag.Title = "添加导航栏目";
}

@using (Html.BeginForm())
{
    
    <table class="table table_all">
        <tr>
            <td class="paddingright">
                @Html.DisplayNameFor(m => m.ColumnName)
            </td>
            <td class="paddingleft">
                <input type="text" value="" name="ColumnName" />
                @Html.ValidationMessageFor(m => m.ColumnName)
            </td>
        </tr>
        <tr>
            <td class="paddingright">
                @Html.DisplayNameFor(m => m.ColumnUrl)
            </td>
            <td class="paddingleft">
                <input type="text" name="ColumnUrl" />
            </td>
        </tr>
        <tr>
            <td class="paddingright">
                @Html.DisplayNameFor(m => m.Remark)
            </td>
            <td class="paddingleft">
                <input type="text" value="" name="Remark" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="保存" />
            </td>
        </tr>
    </table>
}
